<h1>About Me</h1>
<p>Hi, my name is Kyla Tingey. I am 20 years old and the oldest of 7 children. I have just recently completed a coding/web development program. For my final project, my mom gave me the idea to create a website specifically for missionary moms. My 18-year-old brother is just about to serve a 2-year mission for the Church of Jesus Christ of Latter Day Saints</p>
